.address{
    padding: 64px 0;
    &__theme{
        @include catalog("Где купить",$bgColor)
    }
    .map{
        width: 100%;
        height: 400px;
        display: flex;
        background: #EEEEEE;
        border: 3px solid $orangeColor;
        border-radius: 50px;
        overflow: hidden;
        &__world{
            width: 65%;
            height: 100%;
        }
        &__content{
            width: 35%;
            height: 100%;
            padding: 85px ;
        }
        &__text{
            font-family: $helvetica;
            color: $black;
            padding-bottom: 24px;
        }
        &__btn{
            @include btn()
        }
    }
}