.catalog {
  &__theme {
    @include catalog("Каталог", $bgColor);
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    &__image { 
      overflow: hidden;
      height: 85%;
    }
    &__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__footer {
      width: 100%;
      height: 15%;
      display: flex;
      align-items:center;
      justify-content: center;
      z-index: 9;
      background: $linearOrange;
    }
    &__text{
        font-family: $helvetica;
        font-size: 17px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }
  }
}
