//////////////////////////// Playfair
@font-face {
    font-family: "Playfair_display";
    src: url("../../fonts/static/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Playfair_display";
    src: url("../../fonts/static/PlayfairDisplay-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Playfair_display";
    src: url("../../fonts/static/PlayfairDisplay-Regular.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Playfair_display";
    src: url("../../fonts/static/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
}
////////////////////////////////////  Helvetica

@font-face {
    font-family: "Helvetica ";
    src: url("../../fonts/helvetica/Helvetica.ttf");
}
