.footer{
    padding: 64px 0;
    background-color: $black;
    &__body{ 
    }
    .main{
        display: flex;
        justify-content: space-between;
        &__links{
            display: flex;
            justify-content: space-between;
            width: 214px;
        }
        &__items{
        }
        &__item{
        }
        &__link{ 
            font-size: 16px; 
            font-weight: 400;
            line-height: 22px; 
            text-decoration: underline;
            color: #fff;
            font-family: $helvetica;
            margin-bottom: 8px;
        } 

        ////////email
        &__email{
            width: 343px;
        }
        &__title{
            font-family: $helvetica; 
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: $orangeColor;
            margin-bottom: 16px;
        }
        &__form{
            width: 100%;
            height: 50px;
            display: flex;
            border-radius: 3px;
            border: 1px solid $orangeColor;
        }
        &__input{
            padding: 12px 14px;
            width: 100%;
            font-size: 16px;
            background: #fff;
            &::placeholder{
                color:#BEBCC5;
            }
        }
        &__send{
            font-family: $helvetica;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            padding: 12px 14px;
            background: $linearOrange;
            cursor: pointer;
        }

        /////////////////  Contact

        &__contact{
            width: 200px;
        }
        &__text{
            font-family: $helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 4px;
            color: #fff;
        }

        ///////////////// masseger
        &__messenger{
            width: 300px;
        }
        &__messeger-items{
            display: flex;
            justify-content: space-between;
        }
        &__messenger-link{
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: #5D5A76;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ;
            &:hover{
                background-color: $boldOrange;
            }
        }


    }
    &__line{
        margin: 32px 0;
        color: #fff;
    }
    &__copy{
        font-family: $helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: #fff

    }
}