///////////////////////////////// Theme 
@mixin catalog($name,$bg) {
  width: 100%;
  height: 11px;
  border-top: 2px solid $orangeColor; 
  border-bottom: 2px solid $orangeColor; 
  margin: 80px 0;
  position: relative;
  &::before {
    content: $name;
    font-family: $playfair;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    color: $black;
    display: inline-block;
    padding: 0 30px;
    background-color: $bg;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//////////////////////////////////////  Button 

@mixin btn(){
    padding: 12px 24px;
    color: $black;
    background: $linearOrange;
    height: 45px; 
    border-radius: 61px; 
    cursor: pointer;
    font-family: Helvetica;
    font-size: 18px; 
    font-weight: 700; 
}
