.nav {
  width: 100%;
  position: relative; 
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  &__main {
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__items {
    display: flex;
  }
  &__item {
    display: flex;
    margin-right: 30px;
    font-family: $helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  &__logo {
    width: 120px;
    margin-right: 47px;
  }
  &__link{
      transition: all 0.3s ;
      color: $black;
      &:hover{
          color: $boldOrange;
      }
  }
  &::before{
      content: "";
      display: inline-block;
      width: 100%;  
      height: 18px;
      border-top: 5px solid $orangeColor;
      border-bottom: 5px solid $orangeColor;
      position: absolute;
      left: 0;
      bottom: 0;
  }
}
