$bgColor: #f3f2f3;
$black: #2b2846;
$orangeColor: #f7d5ae;
$linearOrange: linear-gradient(
  92.1deg,
  #ffe2c1 3.88%,
  #ffc481 26.11%,
  #ffcc91 92.18%
);
$boldOrange: #cc9d69;

$helvetica: "Helvetica";
$playfair: "Playfair_display";
/////////////////////// global var
.container {
  margin: 0 auto;
  max-width: 1344px;
}
///////////////////// global style
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: $black
}
a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
button,
input {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}
