#category{
    background: $bgColor;
    .smart {

        &__theme{
            @include catalog("Умная ", $bgColor);
        }
        &__wrapper{
            display: flex; 
        }
        &__product{
            flex: 2;
        }
        &__content { 
            padding: 30px 50px;
            flex:5;
            &--title {
                font-family: $playfair;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
            }
            &--text {
                font-family: $helvetica;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                margin: 22px 0;
            }
        }
        &__products{
            flex: 4;
            width: 400px;
            height: 400px; 
            display: flex;
            flex-wrap: wrap;
        }
        &__products--item{ 
            width: 200px;
            height: 200px;
        }
        &__products--img{
            width: 100%;
        }
       

    }



    .showcase {
        width: 100%;
        padding: 60px 0;
        &__wrapper {
            display: flex;
        }

        &__theme {
            @include catalog("", "")
        }

        &__products {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
            justify-content:flex-start;
            &--item {
                width: 240px; 
                padding: 16px 26px;
                text-align: center;
                border-radius: 10px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: .3s linear;
                margin-bottom: 32px;
            }

            &--item:hover {
                transform: translateY(30px);
            }

            .showcase__item {
                position: relative;
                &--img {
                    height: 270px; 
                }

                &--title {
                    font-family: $helvetica;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $boldOrange;
                    margin: 20px 0;

                }

                &--text {
                    font-family: $helvetica;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 40px;
                }

                &--btn {
                    position: absolute;
                    bottom: 20px;
                    margin-top: 12px;
                    font-family: $helvetica;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    color: $boldOrange;
                    padding: 4px 12px;
                    border: 2px solid $boldOrange;
                    border-radius: 16px;



                }
            }

        }

        &__text {
            margin: 44px;

            &--content {
                font-family: $helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 16px;
            }

            &--btn {
                @include btn()
            }
        }

    }
}