#catalog{
    background: $bgColor;
    .catalog {
  
        &__content {
            display: flex;  
            flex-wrap: wrap;
        }

        .cart {
            width: 430px;
            height: 430px;
            border-radius: 16px; 
            margin-bottom: 32px; 
            &__text { 
                font-size: 24px; 
            }
        }
    }

}
