#company{
background-color: $bgColor;
//header
.header__wrapper{
  
    width: 100%; 
    background-color: #fff;
    background-image: url(../../assets/homeMainpng.png), url(../../assets/homeadd.png);
    background-repeat: no-repeat;
    background-position: -350px 0, 550px 0;
    background-size: 900px, 1115px ;
}
.header{
      background-color: #fff;
      border-bottom: 10px solid $orangeColor;
    &__product{
        display: flex;
    }
    &__col-left{
        width: 40%;
    }
    &__col-right{
        width: 60%; 
        padding: 60px;
    }
    &__text--white{
        font-family: $helvetica;
        font-size: 16px; 
        font-weight: 400;
        line-height: 24px; 
        color: #fff;
        &-bold{
            color:white;
            font-family: $helvetica;
        }
    }
    &__content{
        display: flex;
        margin-top: 100px;
        align-items: center;
        &--logo{
            width: 400px;
        }
    }
    &__text{
        font-family: $helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px; 
        margin-bottom: 32px;
    }
}

} 
