#index{
    background: $bgColor;

.nav{
    background: $bgColor;
}
// header
.header{
    width: 100%; 
    &__main{
        background: $bgColor;
    }

    &__content{
        max-width: 650px;
        display: inline-block;
        margin: 78px 0 65px 0;
        &__title{
            font-family: $playfair;
            font-size: 32px; 
            font-weight: 700;
            line-height: 43px; 
            margin-bottom: 32px;
        }
        &__text{ 
            font-family: $helvetica;
            font-size: 16px; 
            font-weight: 400;
            line-height: 22px; 
            margin: 32px 0;
        }
    }
    &__btn{
        @include btn() 
    }
    &__img{
        width: 850px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
    }
}

// slider
.slide{
    background-color: $bgColor;
    height: 500px;
    border-top: 5px solid $orangeColor;
    border-bottom: 5px solid $orangeColor;
    background-image: url("../../assets/main/plants 1.jpg") ;
}

// smart

.smart{ 
    &__theme{
        @include catalog("Умная ", $bgColor); 
    }
    &__wrapper{
        display: flex;
    }
    &__product{

    }
    &__content{ 
        padding: 30px 50px; 
        &--title{
            font-family: $playfair;
            font-size: 30px; 
            font-weight: 700;
            line-height: 40px; 
        }
        &--text{
            font-family: $helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            margin: 22px 0;
        }
    }
    .smart__feature{
        width: 800px;
        display: flex;

        &__item{ 
            height: 60px;
            margin-right: 2rem;
            text-align: center; 
        }
        .feature__item--img{
            width: 70px;
            margin-bottom: 20px;
        }
        .feature__item--text { 
            font-family: $helvetica;
            font-size: 16px; 
            font-weight: 400;
            line-height: 22px;  
        }
    }

}

//showcase

.showcase{
    width: 100%;
    &__wrapper{
        display: flex;
    }
    &__theme{
        @include catalog("","")
    }
   
    &__product {
         display: flex;
         &--item {
             width: 215px;
             margin-right: 32px;
             padding: 16px 26px;
             text-align: center;
             border-radius: 10px;
             background-color: #fff; 
             display: flex;
             flex-direction: column;
             align-items: center; 
             transition: .3s linear;
        }
        &--item:hover{
            transform: translateY(30px); 
        }
        .showcase__item {
            &--img{
                height: 270px;
            }
            &--title{
                font-family: $helvetica;
                font-size: 12px;
                font-weight: 400;
                line-height: 17px;
                color: $boldOrange
            }
            &--text{ 
                font-family: $helvetica;
                font-size: 16px; 
                font-weight: 400;
                line-height: 22px; 
            }
            &--btn{
                margin-top: 12px;
                font-family: $helvetica;
                font-size: 14px; 
                font-weight: 400;
                line-height: 19px; 
                color: $boldOrange;
                padding: 4px 12px;
                border: 2px solid $boldOrange ;
                border-radius: 16px;
               


            }
        }
         
    }
    &__text{
        margin: 44px;

        &--content{
            font-family: $helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
            margin-bottom: 16px;
        }
        &--btn{
            @include btn()
        }
    }

}
}