#product{
    background-color: $bgColor;
    font-family: $helvetica;
    .product{
        width: 100%;
        &__links{
            margin-top: 64px;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
            font-family: $helvetica;
        }
        &__description{
            width: 100%;
            background-color: #fff;
            display: flex;
            margin: 32px 0;
            padding: 32px;
            border-radius: 10px;
        }
        &__img{
            flex: 2;
            text-align: center;
            display: flex;
            justify-content:center;
            align-items: center;
        }
        &__content{
            flex: 8;
        }
        .content{
            &__title{
                font-family: $helvetica;
                font-size: 16px;
                font-weight: 600;
                color: $boldOrange;
            }
            &__sup-title{ 
                font-size: 24px;
                font-weight: 500;
                line-height: 35px; 
            }
            &__tags{
                display: flex;
                margin: 16px 0;
            }
            &__tag{
                border-radius: 15px;
                padding: 4px 10px;
                background-color: #1B19A1 ;
                color: #fff;
                margin-right: 20px;
            }
            &__definition{
                font-size: 14px;
                font-weight: 400;
                margin:16px 0;
                color: #4F4F56;
            }
            &__text{
                font-size: 16px;
                font-weight: 400;
                line-height: 23px;
                margin: 16px 0;
            }
            &__structure--title {
                font-size: 16px;
                font-weight: 800;
                line-height: 32px;
            }
            &__structure{
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: #4F4F56;
            }
        }
    }

      .showcase {
          width: 100%;
          padding: 60px 0;

          &__wrapper {
              display: flex;
          }

          &__theme {
              @include catalog("", "")
          }

          &__products {
              display: flex;
              flex-wrap: wrap;
              gap: 32px;
              justify-content: flex-start;

              &--item {
                  width: 240px;
                  padding: 16px 26px;
                  text-align: center;
                  border-radius: 10px;
                  background-color: #fff;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  transition: .3s linear;
                  margin-bottom: 32px;
              }

              &--item:hover {
                  transform: translateY(30px);
              }

              .showcase__item {
                  position: relative;
                  &--img {
                      height: 270px;
                  }

                  &--title {
                      font-family: $helvetica;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px;
                      color: $boldOrange;
                      margin: 20px 0;

                  }

                  &--text {
                      font-family: $helvetica;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      margin-bottom: 40px;
                  }

                  &--btn {
                      position: absolute;
                      bottom: 16px;
                      margin-top: 12px;
                      font-family: $helvetica;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 19px;
                      color: $boldOrange;
                      padding: 4px 12px;
                      border: 2px solid $boldOrange;
                      border-radius: 20px;
                  }
              }

          }

          &__text {
              margin: 44px;

              &--content {
                  font-family: $helvetica;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 22px;
                  margin-bottom: 16px;
              }

              &--btn {
                  @include btn()
              }
          }

      }

}