#where{
    width: 100%;
    background: $bgColor;
    font-family: $helvetica;
    .contact{
        &__theme{
            @include catalog("Контакты", $bgColor)
        }
        &__form{
            width: 700px;
            margin: 4rem auto;
            background-color: #fff;
            border-radius: 10px;
            border-bottom: 5px solid $orangeColor;
        }
        .form{ 
            &__header{
                text-align: center;
                padding: 32px 32px 0;
                border-bottom: 3px solid $bgColor;
            }
            &__title{
                font-size: 32px;
                font-weight: 600;
            }
            &__description{
                font-size: 16px;
                color: #999;
                margin: 16px 0;
            }
            &__body{
                padding: 10px  32px ;
            }
            &__control{
                width: 100%;
                display: inline-block;
                padding: 12px;
                font-size: 14px;
                background-color: #E8E8E8;
                border-radius: 5px;
                margin: 12px 0;
                outline: none;
                border:none; 
                &:focus{ 
                    outline: 2px solid $orangeColor;
                }
                &:active{
                    outline: none;
                    border:none;
                }
            }
            &__data{
                font-size: 12px;
                color: #999;
            }
            &__submit{
            width: 100%;
            display: inline-block;
            padding: 12px;
            font-size: 14px;
            background-color: $orangeColor;
            border-radius: 5px;
            color:white;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 12px 0;
            outline: none;
            border:none;
            cursor:pointer;
            transition: 0.3s linear;
            &:hover{
                background-color: $boldOrange;
            }
            &:focus {
                outline: 2px solid $orangeColor;
            }

            &:active {
                outline: none;
                border: none;
            }
            }
             
        }

    }
}